.gradle/
.idea
.idea/sonarlint/issuestore/1/
.idea/sonarlint/issuestore/5/
.idea/sonarlint/issuestore/6/
.idea/sonarlint/issuestore/b/
.idea/sonarlint/issuestore/d/
.idea/sonarlint/issuestore/f/9/
.idea/workspace.xml
.vertx/
build/
.idea/libraries/Gradle__io_vertx_vertx_unit_3_4_1.xml
.idea/libraries/Gradle__org_codehaus_groovy_groovy_2_4_10.xml
.idea/libraries/Gradle__org_junit_jupiter_junit_jupiter_api_5_0_0_M3.xml
.idea/libraries/Gradle__org_junit_jupiter_junit_jupiter_engine_5_0_0_M3.xml
.idea/libraries/Gradle__org_junit_platform_junit_platform_commons_1_0_0_M3.xml
.idea/libraries/Gradle__org_junit_platform_junit_platform_engine_1_0_0_M3.xml
.idea/libraries/Gradle__org_opentest4j_opentest4j_1_0_0_M1.xml
.idea/sonarlint/issuestore/0/
.idea/sonarlint/issuestore/7/
.idea/sonarlint/issuestore/a/
src/test/groovy/
